// custom.scss

/* ***** RUN npm run build-css AFTER EVERY CHANGE IN THIS FILE ***** */

// Override Bootstrap variables before importing Bootstrap
$primary: #D1FF0A;
$secondary: #32323cff;
$success: #8cfa69ff;
$info: #6ecdfaff;
$warning: #fafa7dff;
$danger: #f0a069ff;
$light: #dee3e6;
$dark: #32323cff;
$white: #ffffff;

$gray: #78909c; // Light gray for backgrounds
$extra2: #444444; // Dark gray for icons

$lightPurple: #8585f1;
$chartColor1: #a581e0;
$chartColor2: #6931c7;
$chartColor3: #9393ed;
$chartColor4: #4a4ce1;

// Override navbar active link color
$navbar-active-color: white;
$navbar-nav-link-active-color: white;
$navbaremphasis-color-rgb: white;
$emphasis-color-rgb: $white;

/* Adjust the base font size here */
$body-line-height: 1.5;
$spacer: 1rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

// General Container Style
.container {
    max-width: 1200px; // Limit the width to a reasonable size
    margin: 0 auto; // Center the container
    padding: 0;
}

// **********  Global **********

// Smooth scrolling
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $dark;
    color: $white;
    font-size: 1rem;
}

// **********  Navbar  **********
$navbar-color: rgba($white, 0.65);
$navbar-hover-color: rgba($white, 0.8);
$navbar-disabled-color: rgba($white, 0.3);
$navbar-active-color: $white;
$navbar-brand-color: $white;
$navbar-brand-hover-color: $white;

.nav-link {
    color: white;
    font-size: 1rem;
}

.nav-link.active,
.nav-link.show {
    font-weight: bold;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand span {
    color: $light;
    font-weight: 100;
}

// **********  Jumbo  **********

.jumbotron {
    background-color: #32323c;
    color: white;
    padding: 60px;
    position: relative;
}

.jumbotron h1 {
    font-size: 2rem;
    font-weight: 700;
}

.jumbotron p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.dotted-rectangle {
    margin: 10rem 0 0 2rem;
    width: 90%;
    height: 150px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.25) 3px, transparent 5px);
    background-size: 30px 30px;

    @media (max-width: 768px) {
        margin: 5rem 0 0 2rem;
        width: 100%;
    }
}

.btn-primary {
    background-color: $primary;
    border: none;
    color: $dark;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba($primary, 0.2);

    &:hover {
        background-color: lighten($primary, 10%);
        box-shadow: 0 8px 15px rgba($primary, 0.4);
    }

    &:active {
        background-color: darken($primary, 10%);
        box-shadow: 0 4px 8px rgba($primary, 0.1);
    }
}

.notLead {
    color: $light;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

// **********  Sections  **********

section {
    padding: 60px;
    background-color: $secondary;
    border-bottom: 1px solid #eee;

    @media (max-width: 768px) {
        padding: 60px 40px;
    }
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.5rem; // Increase from 1.2rem
}

section h3 {
    font-size: 1.4rem; // Increase from 1.2rem
    margin-bottom: 20px;
}

section h4 {
    font-size: 1rem; // Increase from 1.2rem
}

section p {
    line-height: 1.5;
}



// ********** Our Expertise **********

.expertise-section {
    .section-title {
        color: $white;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .section-content {
        color: $white;
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 40px;
    }

    .expertise-images {
        display: flex;
        justify-content: center;
        align-items: center;

        .expertise-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 30px;
        }

        .sdlc-image {
            width: 100%;
            max-width: 750px;
        }

        .stack-image {
            max-width: 330px;
        }
    }

    @media (min-width: 992px) {
        .expertise-images {
            .col-lg-6 {
                display: flex;
                justify-content: center;
            }
        }
    }

    @media (max-width: 992px) {
        .stack-image {
            padding-top: 30px;
        }
    }
}






// **********  Market Opportunities  **********

.market-opportunities-section {

    .section-title {
        color: $white;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .section-content {
        color: $white;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .market-map {
        max-width: 399px;
        max-height: 399px;
    }
}

@media (min-width: 992px) {
    .market-opportunities-section .col-lg-6 {
        text-align: left;

        &:nth-child(2) {
            text-align: right;
        }
    }
}



// **********  Issues  **********

.bg-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.issues-img {
    min-width: 200px;
    max-width: 200px;
    margin: 30px;
}

.text-container {
    padding: 40px;
}

.issues-intro-text1 {
    color: $lightPurple;
    font-size: 1.2rem;
}

.issues-intro-text2 {
    color: $white;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.chart-heading {
    color: $white;
    padding-right: 20px;
    padding-left: 30px;
    flex: 1;
    min-width: 250px;
    max-width: 250px;
}

.chart-heading .color1 {
    color: $chartColor1;
}

.chart-heading .color2 {
    color: $chartColor2;
}

.chart-heading .color3 {
    color: $chartColor3;
}

.chart-heading .color4 {
    color: $chartColor4;
}

.canvas-container {
    .row {
        display: flex;
        align-items: center;

        .col-md-6 {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        canvas {
            width: 150px !important;
            height: 150px !important;
            flex-shrink: 0;
            margin-bottom: 4rem;
        }
    }
}

.quote {
    font-size: 0.8rem;
    color: $gray;
    margin-bottom: 5px;
    text-align: left;
}

@media (max-width: 768px) {
    .canvas-container .row {
        flex-direction: column;
        text-align: start;

        .chart-heading {
            margin-bottom: 10px;
            margin-right: 0;
        }

        canvas {
            margin-bottom: 20px;
        }
    }

    .quote {
        text-align: start;
        margin-left: 30px;
    }
}

// **********  Shines  **********

.shines-section {
    display: flex;
    align-items: center;
}

.bg-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.shines-img {
    min-width: 200px;
    max-width: 200px;
    margin: 30px;
}

.text-container {
    padding: 40px;
}

.shines-intro-text {
    color: $white;
    font-size: 1.2rem;
}

.highlight {
    color: $primary;
}

@media (max-width: 768px) {
    .shines-section {
        flex-direction: column;
        height: auto;

        .shines-img {
            padding: 2rem;
        }
    }
}

// **********  Process  **********

$processColor1: rgba(255, 255, 255, .25); // color for step 1
$processColor2: rgba(0, 177, 240, .75); // color for step 1
$processColor3: rgba(116, 251, 121, .70); // color for step 1
$processColor4: rgba(209, 255, 10, .70); // color for step 1

.process-section {
    .process-title {
        text-align: center;
        color: $white;
        font-size: 2rem;

        .highlight {
            color: $primary;
        }
    }

    .process-description {
        text-align: left;
        color: $white;
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

    .process-steps {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .step {
            text-align: center;
            margin-bottom: 60px;
            padding: 0 30px;
            position: relative; // Add position relative to parent

            @media (max-width: 992px) {
                padding: 0 20%;
            }

            .step-number {
                color: $dark;
                background-color: $white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto 10px auto;
                font-size: 1.2rem;
                position: absolute; // Add position absolute to align within title
                left: 20px; // Adjust to fit the title alignment
                z-index: 2; // Ensure the number is above the title

                @media (max-width: 992px) {
                    left: 20%;
                }
            }

            &:nth-child(1) .step-title {
                background-color: $processColor1;
            }

            &:nth-child(2) .step-title {
                background-color: $processColor2;
            }

            &:nth-child(3) .step-title {
                background-color: $processColor3;
            }

            &:nth-child(4) .step-title {
                background-color: $processColor4;
            }

            .step-title {
                color: $white;
                font-size: 1.2rem;
                margin-bottom: 40px;
                border-radius: 20px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 30px; // Add padding to accommodate the number
                position: relative; // Add position relative for proper z-index stacking
                z-index: 1; // Ensure the title is below the number
            }

            .step-img {
                margin-bottom: 40px;
                width: 80px;
                height: 80px;
            }

            .step-description {
                color: $white;
                font-size: 1rem;
                text-align: left;
            }

            &:nth-child(1) .step-description .highlight {
                color: $processColor1;
            }

            &:nth-child(2) .step-description .highlight {
                color: $processColor2;
            }

            &:nth-child(3) .step-description .highlight {
                color: $processColor3;
            }

            &:nth-child(4) .step-description .highlight {
                color: $processColor4;
            }
        }
    }
}

@media (max-width: 768px) {
    .process-steps {
        flex-direction: column;
        align-items: center;
    }
}




// ********** Meet TalentQuery **********

.meet-talentquery-section {
    .section-title {
        color: $white;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .section-content {
        color: $white;
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: left;
        margin-bottom: 40px;
    }

    .meet-content {
        .team-image {
            width: 100%;
            max-width: 300px;
            margin-bottom: 30px;
        }

        .sub-title {
            color: $white;
            font-size: 1.5rem;
            margin-bottom: 15px;
            text-align: left;
        }

        .core-value {
            color: $white;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }

    @media (max-width: 992px) {
        .meet-content {
            display: flex;
            flex-direction: column;

            .team-image {
                width: 60%;
                max-width: 270px;
                margin-bottom: 20px;
                align-self: center; // Center the image
            }

            .meet1 {
                order: 1; // Ensure the team appears 1st
            }

            .meet2 {
                order: 2; // Ensure values appears 2nd
                padding-top: 21px;
            }

            .meet3 {
                padding-top: 21px;
                order: 3; // Ensure image appears 3rd
            }
        }
    }
}





// **********  Contact Us  **********

// Contact Us Styles
#contact {
    background: #f8f9fa;
    color: $dark;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: $secondary;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        color: $dark;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        justify-content: space-around;

        .contact-method {
            background: rgba($dark, 0.9); // Darker tone for better visibility
            color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
            text-align: center;
            width: 100%;
            max-width: 300px;
            margin: 10px;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            }

            i {
                margin-bottom: 15px;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 700;
                color: $light;
                margin-bottom: 10px;
            }

            p {
                color: #ccc;
                font-size: 1rem;
                line-height: 1.5;
            }

            a {
                color: $success;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                i {
                    margin: 0 10px;
                }
            }
        }
    }
}

// **********  FAQs  **********

#faqs {

    .faq-questions,
    .faq-answers {
        padding: 15px;
    }

    .faq-questions {
        .faq-item {
            padding: 15px 0;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
            transition: background-color 0.3s, border-left 0.3s;
            position: relative;

            .faq-question {
                font-size: 1.2rem;
                font-weight: bold;
                color: $dark;
                display: flex;
                align-items: center;

                i {
                    margin-right: 10px;
                    color: $success;
                }
            }

            &:hover {
                .faq-question {
                    border-bottom: 5px solid $success;
                }
            }
        }
    }

    .faq-answers {
        position: relative;

        .faq-answer {
            font-size: 1.2rem;
            color: $dark;
            padding: 20px;
            border-left: 5px solid $success;
            background-color: rgba($success, 0.2); // Darker transparent background
            border-radius: 5px;
            margin-bottom: 15px;
            transition: opacity 0.2s ease-in-out, max-height 0.2s ease-in-out;
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            display: none; // Hide initially

            &.active {
                display: block;
                max-height: 300px;
                /* Adjust as needed */
                opacity: 1;
            }
        }
    }

    @media (max-width: 768px) {
        .faq-answers {
            .faq-answer {
                border-left: none;
                background-color: transparent;
                padding-left: 0;
                margin-bottom: 0;
                position: relative;
                width: auto;
            }
        }
    }
}

// **********  Scrollup Arrow Btn  **********

.scroll-to-top {
    position: fixed;
    bottom: 220px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: rgba($primary, 50%);
    color: $secondary;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 5;

    &:hover {
        background-color: lighten($primary, 10%);
    }

    i {
        pointer-events: none;
    }
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}

// **********  Chatbot ChatGPT OpenAI Assistant  **********

$gray: #eeeeee;
/* Updated gray tone */
$extra2: #444444;
/* Dark gray for icons */

.chatbot-button {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background: linear-gradient(135deg, #D1FF0A 0%, #FFFFFF 200%);
    /* Adjusted gradient */
    color: #32323c;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    z-index: 1000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.chatbot-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.chatbot-button i {
    font-size: 30px;
}

.chatbot-container {
    position: fixed;
    bottom: 160px;
    right: 20px;
    width: 350px;
    max-width: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.chatbot-header {
    background: linear-gradient(135deg, #D1FF0A 0%, #FFFFFF 200%);
    /* Adjusted gradient */
    color: #32323c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-chatbot {
    background: none;
    border: none;
    color: #32323c;
    font-size: 20px;
    cursor: pointer;
}

.chatbot-status {
    background: rgba($secondary, 0.7);
    color: $gray;
    padding: 5px 20px;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: start;
    flex-direction: column;
    animation: fadeInOut 8s ease-in-out;
    opacity: 0;
    /* Start as invisible */

    p {
        margin-bottom: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.chatbot-status .status-icon {
    font-size: 24px;
    color: #8cfa69;
    /* Green indicator */
    margin-bottom: 5px;
}

.chatbot-status .status-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #32323c;
}

.chat-box {
    padding: 15px;
    height: 300px;
    overflow-y: auto;
    background-color: #f8f9fa;
    font-family: 'Montserrat', Arial, sans-serif;
}

.chat-input-container {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input {
    padding: 10px;
    border: none;
    width: calc(100% - 60px);
    box-sizing: border-box;
    display: inline-block;
    border-radius: 20px;
    /* Rounded corners */
    margin: 10px;
}

.chat-send-button {
    padding: 10px 20px;
    background: linear-gradient(135deg, #D1FF0A 0%, #FFFFFF 200%);
    /* Adjusted gradient */
    color: #32323c;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    text-align: center;
    border-radius: 20px;
    /* Rounded corners */
    margin: 10px;
}

.chat-send-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.chat-send-button i {
    font-size: 20px;
}

.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chat-message.user {
    justify-content: flex-end;
}

.chat-message.assistant {
    justify-content: flex-start;
}

.chat-message .message-bubble {
    max-width: 70%;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f8f9fa;
    color: #32323c;
}

.chat-message.user .message-bubble {
    background: linear-gradient(135deg, #D1FF0A 0%, #FFFFFF 200%);
    /* Gradient background */
    color: #32323c;
}

.chat-message.assistant .message-bubble {
    background-color: rgb(240, 242, 247);
    /* Light gray */
    color: #32323c;
}

/* Profile Picture and Name */
.chatbot-header .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #32323c;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot-header .profile-picture::before {
    content: '\f086';
    /* FontAwesome icon code for comments */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
    color: #D1FF0A;
}

.chatbot-header .header-title {
    display: flex;
    align-items: center;
}

.chatbot-header .header-title h2 {
    margin: 0;
    font-size: 1.2rem;
}

.chatbot-header .header-title h2 p {
    font-weight: 100;
    font-size: 1rem;
    margin: 0;
}

/* Emoji and Attach Icons */
.emoji-button,
.attach-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #32323c;
    cursor: pointer;
    margin: 10px;
}

.emoji-button:hover,
.attach-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

// **********  Footer  **********

.footer {
    background-color: #32323c;
    color: white;
    padding: 60px;
}

.footer-col {
    padding-bottom: 30px;
}

.footer h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer .list-inline {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer .list-inline-item {
    margin-right: 20px;
}

.footer .list-inline-item a {
    color: white;
    text-decoration: none;
}

.footer .list-inline-item a:hover {
    text-decoration: underline;
}

.footer .text-center {
    text-align: center;
}

// WhatsApp Btn

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    z-index: 1000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.whatsapp-button i {
    font-size: 30px;
}
